@import "../../css/colors.css";
@import "../../css/units.css";

.editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: calc(2 * $space);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[dir="rtl"] .row-reverse {
    flex-direction: row-reverse;
}

.row + .row {
    margin-top: calc(2 * $space);
}

.input-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

[dir="ltr"] .input-group + .input-group {
    margin-left: calc(2 * $space);
}

[dir="rtl"] .input-group + .input-group {
    margin-right: calc(2 * $space);
}

[dir="ltr"] .input-group {
    padding-right: calc(2 * $space);
    border-right: 1px dashed $ui-black-transparent;
}

[dir="rtl"] .input-group {
    padding-left: calc(2 * $space);
    border-left: 1px dashed $ui-black-transparent;
}

[dir="rtl"] .row-reverse > .input-group {
    padding-left: 0;
    padding-right: calc(2 * $space);
    border-left: none;
    border-right: 1px dashed $ui-black-transparent;
}

.waveform-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    position: relative;

    background: hsla(300, 53%, 60%, 0.15);
    border: 1px solid $ui-black-transparent;
    border-radius: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

$border-radius: 0.25rem;

.label {
    color: $text-primary;
    font-size: 15px;
}

.spriteName {
    color: $text-primary;
    font-size: 0.875rem;
    margin-right: 0.5rem;
}

.button {
    height: 2rem;
    padding: 0.35rem;
    border-radius: 5px;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    font-size: 0.85rem;
    user-select: none;
    margin-left: 3px;
    position: relative;
}

.button:active {
    background: $looks-transparent;
}

.button:focus::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid $looks-secondary;
    z-index: 1;
}

.button > img {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    min-width: 1.25rem;
}

.round-button {
    height: 3rem;
    width: 3rem;
    outline: none;
    background: $looks-secondary;
    border-radius: 100%;
    border: 4px solid $ui-white-dim;
    cursor: pointer;
    padding: 0.75rem;
    user-select: none;
}

.round-button > img {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    /*min-width: 1.5rem;*/
}

[dir="rtl"] .undo-icon, [dir="rtl"] .redo-icon {
    transform: scaleX(-1);
}

.trim-button {
    display: flex;
    align-items: center;
    color: $text-primary;
    font-size: 0.625rem;
    user-select: none;

}

[dir="ltr"] .trim-button {
    margin-left: 1rem;
}

[dir="rtl"] .trim-button {
    margin-right: 1rem;
}

.trim-button > img {
    width: 1.25rem;
}

.effect-button {
    flex-basis: 60px;
    color: $text-primary;
    font-size: 0.625rem;
    user-select: none;
    padding: 0.25rem 0;
}

.effect-button + .effect-button {
    margin: 0;
}

.effect-button img {
    width: 1.25rem;
    height: 1.25rem;
    margin-bottom: -0.375rem;
}

.tool-button {
    flex-basis: 60px;
    color: $text-primary;
    font-size: 0.625rem;
    user-select: none;
    padding: 0.25rem 0;
}

.tool-button + .tool-button {
    margin: 0;
}

.tool-button img {
    width: 4rem;
    height: 1.5rem;
    margin-bottom: -0.375rem;
}

[dir="rtl"] .flip-in-rtl img {
    transform: scaleX(-1);
}

[dir="ltr"] .button-group {
    margin-left: 1rem;
}

[dir="rtl"] .button-group {
    margin-right: 1rem;
}

.button-group {
    display: flex;
}

.button-group .button {
    border-radius: 0;
}

.button:not(:last-child) {
    border-right: none;
}

[dir="rtl"] .button:not(:last-child) {
    border-left: none;
    border-right: 1px solid $ui-black-transparent;
}

.button-group .button:first-child,
[dir="rtl"] .button-group .button:last-child,
.button-group .button:first-child:focus::before,
[dir="rtl"] .button-group .button:last-child:focus::before {
    border-radius: $form-radius 0 0 $form-radius;
}

.button-group .button:last-child,
[dir="rtl"] .button-group .button:first-child,
.button-group .button:last-child:focus::before,
[dir="rtl"] .button-group .button:first-child:focus::before {
    border-radius: 0 $form-radius $form-radius 0;
}

.button:disabled > img {
    opacity: 0.25;
}

.buttonGroupTopRight {
    position: absolute;
    /* top: 0; */
    align-items: center;
    right: 0;
    display: flex;
    margin-right: 1rem;
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    /* margin-top: 0.5rem; */
}

.titleLabel {
  margin-right: 1rem;
  color:$text-primary;
}

.titleInput {
    flex-grow: 1;
    min-width: 300px;
}

.descriptionInput {
    flex-grow: 1;
    min-width: 500px;
    width: flex;
}

.variableInput {
    flex-grow: 1;
    min-width: 490px;
}

.component{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.feedbackIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.feedbackButtonGroup {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.feedbackButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px $looks-transparent;
    background-color: $looks-secondary;
    color: $ui-white;
}

.feedbackTextBox {
    margin-top: 1rem;
    align-self: center;
    max-width: 110vh;
}

.phaseButton {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 0.5rem;   
    height: 2rem;       
    color:$text-primary;
    font-size: 0.75rem;
    border-radius: $border-radius;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    background: white;
    margin-left: 0.5rem;
}

.phaseButton:disabled > img {
    opacity: 0.25;
}

.textContainer {
  white-space: pre-wrap;
  max-height: 3rem;         /* Adjust height as needed */
  overflow-y: auto;
  padding: 0.5rem;  
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: #999 #f3f3f3;   /* Firefox */
  border-width: 1px;
  border-style: solid;
  border-color: $ui-black-transparent;
  border-radius: 0.5rem;
  transition: max-height 0.3s ease;
}

/* Chrome, Edge, Safari */
.textContainer::-webkit-scrollbar {
  width: 8px;
}
.textContainer::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}
.textContainer::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

.expanded {
    max-height: 55vh;
}

.toggleButton {
    align-self: flex-end;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
    cursor: pointer;
    background-color: #f0f0f0;      
    border: 1px solid #ccc;  
    border-radius: 0.25rem;
    color: #333;
    height: 3rem;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #e0e0e0;
    }
}

.textRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.tooltip{

    background: $looks-secondary-dark;
    position: absolute;
    /* overflow-y: hidden; */
}


.labelText {
    margin-left: 4px;
    margin-right: 6px;
    color:$text-primary;
}

.selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.selectedItem {
  background-color: #e0f0ff;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
}

.dropdownButton {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #b1b0f5;
  border-radius: 0.25rem;
}

.dropdownMenu {
  position: absolute;
  top: 100%; /* puts it right below the button */
  left: 0;
  background: white;
  border: 1px solid #ddd;
  padding: 0.5rem;
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  width: max-content;     /* Grows to fit content */
  white-space: nowrap; 
}

.dropdownOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
}

.droprightContainer {
    position: relative; 
    display: inline-block;
}

.droprightMenu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 4px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex; 
    flex-direction: row;
    gap: 12px;
    border-radius: 0.5rem;
}

.droprightOption {
    display: flex;
    align-items: center;
    padding: 2px 2px;
    cursor: pointer;
    font-size: 0.625rem;
}

.droprightButton {
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    height: 2rem;
    width: 10rem;

    img {
        margin-left: 0.5rem;
    }
}



.outerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for outer grid */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows for outer grid */
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 5rem;
    gap: 0.5rem;
}

.scrollWrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding-bottom: 1rem; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* max-width: 700px; */
    scrollbar-color: #999 #f3f3f3; 
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.innerBox {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 100%; 
    min-height: 300px; 
    min-width: 200px;
    /* max-width: 260px; */
    /* flex: 0 0 auto;  */
}

.spriteHeader {
    flex-direction: column;
}

.behaviorsList {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    justify-content: flex-start; 
    border-radius: 0.25rem;
    gap: 1rem;
}

.behaviorsList > div  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 0.5rem
}

.behaviorsList > div > button {
    width: 2.5rem;
    height: 2.5rem;
}

.nameInput {
    flex-grow: 1;
    min-width: 48px;
    width: flex;
}

.phaseTrackerContainer {
  position: relative;
}

.phaseLine {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ddd;
  z-index: 0;
}

.phaseTracker {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 10px;
}

.phaseItem {
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Dot styles */
.phaseDot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #ccc;
  z-index: 2;
  transition: all 0.3s ease;
}

.phaseDot.completed {
  background-color: #5e6062;
  border: none;
}

.phaseDot.current {
  border: 4px solid #5e6062;
  background-color: white;
}

.phaseDot.upcoming {
  border: 2px solid #ccc;
  background-color: white;
}

/* Label */
.phaseLabel {
  margin-top: 8px;
  font-size: 10px;
  color: #666;
  /* text-align: center; */
  width: 80px;
}

.phaseLabel.active {
  font-weight: bold;
  color: #5e6062;
}

.addButton {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 0.5rem;   
    height: 2rem;       
    color:$text-primary;
    font-size: 0.75rem;
    border-radius: $border-radius;
    border: 1px solid $ui-black-transparent;
    cursor: pointer;
    background: white;
    margin-left: 0.5rem;
}

.addIcon {
    width: 1.25rem;
    height: 1.25rem;
}

.variableList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* optional: allow wrapping to next line */
  gap: 8px;         /* spacing between items */
}

.nameAndImage {
  display: flex;
  align-items: center;
  justify-content: space-between; /* or 'flex-start' if you want image closer to name */
  gap: 8px; /* spacing between name and image */
}

.spriteUnderstanding {
  width: 2rem;
  height: 2rem;
  /* filter: sepia(20%) brightness(130%) contrast(90%); */
}

.spriteImage {
    width: 2.5rem;
    height: 2rem;
    position: absolute;
    align-items: center;
    right: 0;
    display: flex;
    margin-right: 1.5rem;
}

.info {
    font-size: 0.75rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.infoImage {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 16px;
  padding: 0;
  transform: translate(50%, -50%);
  margin-right: 0.5rem;
}

.deleteButton img {
  width: 12px;
  height: 12px;
  margin: 0 !important;
}

.inputWrapper {
  position: relative;
  display: inline-block; 
  margin-bottom: 8px;    
}

.feedbackIcon {
width: 1rem;
height: 1rem;
}